@charset "utf-8";
/* CSS Document */
@media only screen and (orientation:portrait) {   
    section#strip-navigation ul li p,footer#strip-navigation ul li p { opacity:1; z-index : -10 } 
	#student-navigation a { opacity:1; }
	/*footer#strip-navigation { position: static; bottom: 0; }*/
	section#content article#left-column { padding-left: 6%; width: 568px; }
	.slide-content{ position: absolute; left: 20%; top: 20%; }
}